In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/BigDataGrupaDruga/BigDataDiamonds/refs/heads/main/Task%202/DataWithValues/DanezWartosciami.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value,clarity value
0,0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2,1,2

In [5]:
df.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value,clarity value
44388,44388,0.72,IDEAL,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,5,7,3
44389,44389,0.72,GOOD,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2,7,3
44390,44390,0.70,VERY GOOD,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3,7,3
44391,44391,0.86,PREMIUM,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,4,3,2
44392,44392,0.75,IDEAL,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,5,7,2

In [7]:
df.drop(columns=['Unnamed: 0', 'cut', 'color', 'clarity'], inplace=True)

In [9]:
df.head()

,carat,depth,table,price,x,y,z,cut value,color value,clarity value
0,0.23,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,0.21,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,0.23,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,0.29,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,0.31,63.3,58.0,335,4.34,4.35,2.75,2,1,2

In [11]:
X = df[['carat']]
X.head()

   carat
0   0.23
1   0.21
2   0.23
3   0.29
4   0.31

In [13]:
Y = df['price']
Y.head()

0    326
1    326
2    327
3    334
4    335
Name: price, dtype: int64

In [15]:
# import modułu Scikit-learn 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_score

# walidacja krzyżowa
kfold = KFold(n_splits=3, random_state=7, shuffle=True)
model = LinearRegression()
wyniki = cross_val_score(model, X, Y, cv=kfold)
print(wyniki)
print("Uśredniona wartość wyników dla współczynnika R2: %.3f oraz średnia wartość wyników odchylenia standardowego regresji (błędu standardowego estymacji): %.3f" % (wyniki.mean(), wyniki.std()))

[0.85542231 0.85867823 0.85358138]
Uśredniona wartość wyników dla współczynnika R2: 0.856 oraz średnia wartość wyników odchylenia standardowego regresji (błędu standardowego estymacji): 0.002

In [17]:
# Powyżej wykonana została walidacja krzyżowa dla regresji liniowej, analizowanej w osobnym pliku liczby karatów do ceny diamentów.
# Przeprowadzona walidacja krzyżowa pozwalająca na analizę dużego zbioru badanych danych określająca współcznik determinacji (zwany r**2) daje obiecujące wyniki.
# Uśredniona wartość wyników przeprowadzonej walidacji krzyżowej wynosi 0.856, co oznacza dobrą korelację regresji (1.0 - idealnie, 0.0 - fatalnie).
# Oznacza to też, że model z "wytrenowaną" regresją liniową dobrze działa w odniesieniu do zbioru testowego.