In [1]:
import pandas as pd

# Link do pliku
url = 'https://raw.githubusercontent.com/BigDataGrupaDruga/BigDataDiamonds/refs/heads/main/CleanedData/WyczyszczoneDane.csv'
dataset = pd.read_csv(url)

df = dataset

In [5]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [9]:
cut_mapping = {
    'FAIR': 1,
    'GOOD': 2,
    'VERY GOOD': 3,
    'PREMIUM': 4,
    'IDEAL': 5
}

In [11]:
df['cut value'] = df['cut'].map(cut_mapping)

In [13]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value
0,0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5
1,1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4
2,2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2
3,3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4
4,4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2

In [15]:
color_mapping = {
    'J': 1,
    'I': 2,
    'H': 3,
    'G': 4,
    'F': 5,
    'E': 6,
    'D': 7
}

In [17]:
df['color value'] = df['color'].map(color_mapping)

In [19]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value
0,0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5,6
1,1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4,6
2,2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2,6
3,3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4,2
4,4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2,1

In [21]:
df.tail()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value
44388,44388,0.72,IDEAL,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,5,7
44389,44389,0.72,GOOD,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2,7
44390,44390,0.70,VERY GOOD,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3,7
44391,44391,0.86,PREMIUM,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,4,3
44392,44392,0.75,IDEAL,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,5,7

In [23]:
clarity_mapping = {
    'I1': 1,
    'SI2': 2,
    'SI1': 3,
    'VS2': 4,
    'VS1': 5,
    'VVS2': 6,
    'VVS1': 7,
    'IF': 8
}

In [25]:
df['clarity value'] = df['clarity'].map(clarity_mapping)

In [27]:
df.head(15)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value,clarity value
0,0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2,1,2
5,5,0.24,VERY GOOD,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,3,1,6
6,6,0.24,VERY GOOD,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,3,2,7
7,7,0.26,VERY GOOD,H,SI1,61.9,55.0,337,4.07,4.11,2.53,3,3,3
8,8,0.22,FAIR,E,VS2,65.1,61.0,337,3.87,3.78,2.49,1,6,4
9,9,0.23,VERY GOOD,H,VS1,59.4,61.0,338,4.00,4.05,2.39,3,3,5
10,10,0.30,GOOD,J,SI1,64.0,55.0,339,4.25,4.28,2.73,2,1,3
11,11,0.23,IDEAL,J,VS1,62.8,56.0,340,3.93,3.90,2.46,5,1,5
12,12,0.31,IDEAL,J,SI2,62.2,54.0,344,4.35,4.37,2.71,5,1,2
13,13,0.20,PREMIUM,E,SI2,60.2,62.0,345,3.79,3.75,2.27,4,6,2
14,14,0.32,PREMIUM,E,I1,60.9,58.0,345,4.38,4.42,2.68,4,6,1

In [29]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [31]:
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,cut value,color value,clarity value
0,0.23,IDEAL,E,SI2,61.5,55.0,326,3.95,3.98,2.43,5,6,2
1,0.21,PREMIUM,E,SI1,59.8,61.0,326,3.89,3.84,2.31,4,6,3
2,0.23,GOOD,E,VS1,56.9,65.0,327,4.05,4.07,2.31,2,6,5
3,0.29,PREMIUM,I,VS2,62.4,58.0,334,4.20,4.23,2.63,4,2,4
4,0.31,GOOD,J,SI2,63.3,58.0,335,4.34,4.35,2.75,2,1,2

In [39]:
#Zapisanie pliku .csv z wartościami dla danych za pomocą metody ".to_csv"